<div class="container">

<h1>Products</h1>



<ul>
 
  <% @products.each do |product| %>
    <div class="list-group">
    <li>
      <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
      <%= link_to product.title, product%>
      </a>
      
      <%= image_tag product.image, width: 100, height: 100 %>
      
      <%= link_to "Buy Now", buy_path(product) %>
    </li>
    </div>
  <% end %>
  
</ul>



<button type="button" class="btn btn-outline-primary"><%= link_to "New Product", new_product_path %></button>

<button type="button" class="btn btn-outline-primary"><%= link_to "Check Out", checkout_path %></button>

<button type="button" class="btn btn-outline-primary"><%= link_to "Main Page", root_path %></button>

<h2> Your shopping cart has <%=@cart.length%> items</h2>

</div>